<table cellpadding="2" border="1" cellspacing="1">
<%=form_for :cart do |h|%>
 <tr><td>Quantity</td><td>Name</td><td>Description</td><td>Price</td><td>Total</td></tr>

   <tr><td>
      <%= select "cart","quantity", [1,2,3,4,5],{:prompt=>"Quantity"},
        { :onchange => "$.ajax({url: '../cart/display_total',
        data: 'count=' + value + '&price=' + #{@product.price}})"}%>

          
   </td>
     <td><%=@product.name%></td><td><%=@product.description%></td><td id="price"><%=@product.price%></td><td id="total"></td></tr>
</table>

<%=h.submit%>
<%end%>

<script type="text/javascript">
 


</script>

